* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body.dark {
    color: white;
    #top-bar {
        background: linear-gradient(to top, #222, #000);
        border: 1px solid #333;
    }

    #main-container {
        #info-bar {
            background-color: #000;
        }

        #main-tabs {
            background: linear-gradient(to bottom right, #000, #222);
            #tabs {
                background-color: #000;
                > ul > li {
                    background: linear-gradient(to top, #000, #222);
                    border: 1px solid #000;
                    &.active {
                        background: linear-gradient(to bottom, #000, #500);
                    }
                }
            }
        }
    }
}

#top-bar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    > div {
        height: 100%;
        width: 200px;
        padding: 5px;
    }

    .top-mid {
        font-weight: bold;
        text-align: center;
    }

    .top-right {
        text-align: right;
    }
}

#main-container {
    display: flex;
    height: calc(100% - 50px);
    #info-bar {
        flex-grow: 1;
    }
    #main-tabs {
        position: relative;
        flex-grow: 4;
        display: flex;
        flex-direction: column;
        #tabs {
            
            height: 35px;
            > ul {
                display: flex;
                list-style: none;
                > li {
                    width: 100px;
                    text-align: center;
                    padding: 5px;
                }
            }
        }

        #tab-content {
            flex-grow: 1;
        }
    }
}